*                                   @pablogs9 @jamoralp @FranFin
config/freertos/nucleo_f446ze/      @alsaibie
config/freertos/esp32/              @donRaphaco
config/freertos/nucleo_f746zg/      @edesta-be 
config/freertos/nucleo_f767zi/      @jnugen
config/freertos/nucleo_f446re/      @RTrioux